.header__lang-link {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin-left: 18px;
    opacity: 1;
    transition: opacity 0.2s ease;
}

.header__lang-link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 767px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}