.photo-grid {
    padding-top: 92px;
    margin: 0 auto;
    width: 100%;
}

@media screen and (max-width: 1279px) {
    .photo-grid  {
        width: calc(100% - 48px*2); 
    }
}
@media screen and (max-width: 1023px) {
    .photo-grid  {
        width: calc(100% - 24px*2); 
    }
}
@media screen and (max-width: 767px) {
    .photo-grid  {
        width: calc(100% - 16px*2); 
    }
}