.photo-grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
    min-height: 671px;
    margin-left: 48px;
    margin-right: 48px;
    padding-top: 92px;
}