.lead {
    padding-top: 56px;
    width: calc(100% - 100px*2);
    margin: 0 auto;
}

@media screen and (max-width: 1279px) {
    .lead {
        padding-top: 48px;
        width: calc(100% - 48px*2); 
    }
}
@media screen and (max-width: 1023px) {
    .lead {
        width: 100%; 
    }
}
@media screen and (max-width: 767px) {
    .lead {
        width: 100%; 
    }
}