.header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 28px;
    margin: 0 auto;  
    width: 100%;
}

@media screen and (max-width: 1279px) {
    .header  {
        width: calc(100% - 48px*2); 
    }
}

@media screen and (max-width: 1023px) {
    .header  {
        width: calc(100% - 24px*2); 
    }
}

@media screen and (max-width: 767px) {
    .header  {
        padding-top: 16px;
        width: calc(100% - 16px*2); 
    }
}