.footer__link {
    display: block;
    color: #FFFFFF;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    opacity: 1;
    transition: opacity 0.2s ease;
    margin-right: 18px;
}

/* .footer__link:nth-child(5n) {
    margin-right: 0px;
} */

.footer__link:hover {
    opacity: 0.8;
}
@media screen and (max-width: 767px) {
    .footer__link {
        font-size: 24px;
        line-height: 24px;
        margin-right: 0px;
        margin-bottom: 32px;
    }
}