.lead__title {
    margin: 0px;
    padding: 0px;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    margin-bottom: 32px;
   
}

@media screen and (max-width: 767px) {
    .lead__title {
        font-size: 40px;
        line-height: 44px;
        margin-bottom: 16px;
    }
}

