.footer__links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media screen and (max-width: 767px) {
    .footer__links {
        flex-direction: column;
    }
}