.lead__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    margin-top: 32px;
    margin-bottom: 64px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 640px;
}