.lead__subtitle {
    margin: 0px;
    padding: 0px;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 64px;
    text-align: center;
}

@media screen and (max-width: 1279px) {
    .lead__subtitle {
        margin-bottom: 56px;
    }
}

@media screen and (max-width: 767px) {
    .lead__subtitle {
        margin-bottom: 40px;
        font-size: 16px;
        line-height: 20px;
    }
}