.cover__background {
    min-height: 740px;
    text-decoration: none;
    color: #FFFFFF;
    width: 100%;
    background-image: url(../../../images/cover-trains.jpg);
    background-size: cover; 
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    position: relative;
    z-index: 1;
}
.cover__background:before {
    position: absolute;
    content: '';
    background: #2A2C2F;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: opacity 0.2s ease;
}
.cover__background:hover:before {
    opacity: 0.8;
}

@media screen and (max-width: 1279px) {
    .cover__background {
        min-height: 640px;
    }
}
@media screen and (max-width: 1023px) {
    .cover__background {
        min-height: 480px;
    }
}
@media screen and (max-width: 767px) {
    .cover__background {
        min-height: 200px;
    }
}