.lead__caption {
    margin: 0px;
    padding: 0px;
    margin-top: 8px;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    .lead__caption {
        margin-left: 24px;
    }
}

@media screen and (max-width: 320px) {
    .lead__caption {
        font-size: 10px;
        margin-left: 16px;
    }
}

