.cover__title {
    margin: 0px;
    padding: 0px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    max-width: 560px;
    margin-bottom: 32px;
    z-index: 2;
}

@media screen and (max-width: 767px) {
    .cover__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
        margin-bottom: 16px;
    }
}