.place__website{
    margin: 0px;
    padding: 0px;
    list-style: none;
    align-self: end;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 767px) {
    .place__website {
        display: none;
    }
}
