.cover__item {
    text-decoration: none;
    color: #FFFFFF;
    /* background-image: url(../../../images/cover-trains.jpg);
    background-size: cover; */
    min-height: 740px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    position: relative;
    text-align: center;
}
.cover__item:before {
    content: '';
    position: absolute;
    background: #2A2C2F;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.cover__item:hover::before {
    opacity: 0.8;
}